{% extends 'layout/base.html'%}
{%block content%}
<div class="section-heading">
    <h1 class="title">Users</h1>
    <a class="button is-primary left" href="{{url_for('dashboard.create_user')}}">Add A New User</a>
</div>

<table class="table box">
    <thead>
      <tr>
        <th><input type="checkbox"/></th>
        <th>Id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>active</th>
        <th>Date</th>
        <th>Actions</th>  
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
            <th><input type="checkbox"/>
            <th>{{ user.id }}</th>
            <td><a href="#">{{ user.name }}</a> </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.active}}</td>
            <td>{{user.created_at}}</td>
            <td><a>Delete</a> | <a>Edit</a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
{%endblock content%}