{% extends 'base.html'%}

{% block content%}
<h1>Form</h1>


<form method="POST">
    <label>Title</label>
    <input type="text" name="title"/>
    <label>Description</label>
    <textarea rows="15" cols="30" name="t1" name="description" onchange="checkWordLen(this);"></textarea>
    <label>Source</label>
    <input type="text" name="source"/>
   
    <label for="cars">Select Category:</label>
    <select name="Categories">
        {% for category in categories %}
       <br/>
      <option value="{{category}}" name="category"> {{category.name}}</option>
      {% endfor %}
    </select>
    <br><br>
    <button type="submit" name="send">Submit</button>


    <!-- JS -->
    <script>
        var wordLen = 255; // Maximum word length
         function checkWordLen(obj){
          var len = obj.value.split(/[\s]+/);
           if(len.length > wordLen){
               alert("You cannot put more than "+wordLen+" words in this text area.");
               obj.oldValue = obj.value!=obj.oldValue?obj.value:obj.oldValue;
               obj.value = obj.oldValue?obj.oldValue:"";
               return false;
           }
         return true;
       }
    </script>
{% endblock content %}


