version: '3'
services:
  nginx:
    image: 'aminux/dhambal_nginx'
    restart: always
    ports:
      - "80:80"
  container_watch:
    image: pyouroboros/ouroboros
    command: docker run -d --name ouroboros -v /var/run/docker.sock:/var/run/docker.sock pyouroboros/ouroboros

  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
    - ./.env.prod

  webserver:
    image: 'aminux/dhambal_webserver'
    restart: always
    volumes:
      # - /app/node_modules # leave this folder
      - ./:/app # take everything from server directory and put to app  
    ports:
      - "2020:5000"
    depends_on:
      - postgres
    env_file:
    - ./.env.prod

volumes:
  postgres_data: