{% extends "layout/base.html" %} {% block content %}
<div class="modal is-active" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure to delete</p>
      <button class="delete" id="modal-close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>{{post.title}}</p>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger">Delete</a>
      <a class="button">Cancel</a>
    </footer>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  //const deleteBtn = document.querySelector("#delete-btn")
  const modal = document.querySelector('#modal');
  const closeModalBtn = document.querySelector('#modal-close-btn');
  closeModalBtn.addEventListener('click', () => {
    model.classlist.remove('is-active');
  });
</script>

{% endblock %}
