{% extends 'layout/base.html'%} {%block content%} {% from "macro.html" import
section_heading %} {{section_heading(title="Posts",link="dashboard.create_post",
btn_text="Add Post")}} 


<table class="table box">
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Source</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th><input type="checkbox" /></th>
      <th>{{ post.id }}</th>
      <td><a href="#">{{ post.title}}</a></td>
      <td>
        {%if post.description %} {{ post.description | truncate(50) }} {%endif%}
      </td>

      <td>{{ post.category }}</td>
      <td>{{ post.source}}</td>
      <td>{{post.created_at}}</td>
      <td>
        <a
          id="delete-btn"
          href="{{url_for('dashboard.delete_post',id=post.id)}}"
          >Delete</a
        >
        | <a>Edit</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock content%} {% block script %}
<script>
  //const deleteBtn = document.querySelector("#delete-btn")
  //const modal = document.querySelector("#modal")
  //const closeModalBtn = document.querySelector("#modal-close-btn")
  //deleteBtn.addEventListener("click",()=>{
   // model.classlist.add("is-active")
  //})
  //closeModalBtn.addEventListener("click",()=>{
  //  model.classlist.remove("is-active")
  //})


</script>

{% endblock %}
