<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webserver</title>
</head>
<body>
    {% for post in posts %}
    <h4>{{ post.title }}</h4>
    {{ post.description }}
    {{ post.source }}
    {{post.created_at}}
    {%endfor%}
    <h1>Hi, there welcome to the webserver</h1>
    <h2>I was being updated and I'm fine</h2>
    <h2>I was being Changed!!!!!!!</h2>
    {% for category in categories %}
    <h4>{{ category.name }}</h4>
    {{ category.description }}
    {{post.created_at}}
    {%endfor%}
</body>
</html>