<aside class="menu" id="side-menu">
  <a class="button is-primary" href="{{url_for('dashboard.create_post')}}">
    <i class="material-icons">add</i>Create New Post
  </a>
  <ul class="menu-list">
    <li>
      <a href="{{url_for('dashboard.index')}}" class="is-active">Dashboard</a>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <a href="{{url_for('dashboard.get_posts')}}">Posts</a>
    </li>
    <li><a href="{{url_for('dashboard.create_post')}}">Create Post</a></li>
  </ul>
  <ul class="menu-list">
    <li><a href="{{url_for('dashboard.get_categories')}}">Categories</a></li>
    <li>
      <a href="{{url_for('dashboard.create_category')}}">Create Category</a>
    </li>
  </ul>
  <ul class="menu-list">
    <li><a href="{{url_for('dashboard.create_user')}}">Users</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
