{% extends 'layout/base.html'%}
{%block content%}
<div class="section-heading">
  <h1 class="title">Categories</h1>
  <a class="button is-primary left" href="{{url_for('dashboard.create_category')}}">Add New Category</a>
</div>

<table class="table box">
    <thead>
      <tr>
        <th><input type="checkbox"/></th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Actions</th>  
      </tr>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
            <th><input type="checkbox"/>
            <th>{{ category.id }}</th>
            <td><a href="#">{{ category.name }}</a> </td>
            <td>{{ category.description }}</td>
            <td>{{ category.created_at}}</td>
            <td><a>Delete</a> | <a>Edit</a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
{%endblock content%}