<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summirizer - Auth</title>
</head>
<body>
    <h1>Authentication</h1>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        <label for="email">
            <input type="email" name="email" id="email">
        </label>
        <label for="password"> Password</label>
            <input type="password" name="password" id="password">
       <input type="submit"/>
    </form>
</body>
</html>
</body>
</html>