{%extends 'base.html'%} {%block content%}
{% from "macro.html" import form_input with context %}
<div class="columns">
  <!-- Include left sidebar -->
  {% include 'login_side.html' %}
  <div class="column">
    <div class="login-side-right">
      <h1>Login</h1>
        <form method="POST">
        {{ form.csrf_token }}
        {{form_input(input=form.email,label=form.email.label,type="input",errors=form.email.errors)}}
        {{form_input(input=form.password,label=form.password.label,type="input",errors=form.password.errors)}}
        {{form.submit(class="button is-primary")}}
      </form>
    </div>
  </div>
</div>

{%endblock content%}
